/* Estilos General */

:root {
	--tranquil-blue: #6A8DA3;
	--background-color: #F4F4F4;
	--text-color: #2C2C2C;
}  
* {
  margin: 1px;
  padding:0px;
  font-style: italic;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
}
h1 {
  color: #FF9900;
  text-align: center;
}
p {
  margin: 10px;
}
/* Estilos para el header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ddd;
	padding: 20px;
  }
footer a{
  color: #7e8ee8;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}
  
  /* Estilos para el logo */
.logo {
	max-width: 150px;
}
  
.logo img {
	display: block;
	width:35%;
	border-radius: 50%;
	height: auto;
}
  
  /* Estilos para el menú de navegación */
.menu nav ul {
    list-style: none;
    display: flex;
}

.menu nav li {
    margin-right: 20px;
}

.menu nav a {
    color: #e87e7e;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.menu nav a:hover {
    background-color: #333;
    color: #fff;
    /* text-transform: uppercase; */
}

.container {
    width: 100%;
    margin: auto;
}
.card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.card .info {
    padding: 20px;
}
.card .info h3 {
    color: #333333;
    margin-bottom: 10px;
}
.card .info p {
    color: #666666;
    line-height: 1.5;
}
.card .info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF9900;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.slider {
    display:flex;
    justify-content:center;
    width: auto;
    height: 300px;
}
.slider img {
  width: 100%;
  border-radius: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.footer {
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info {
  width: 25%;
}

.contact {
  width: 25%;
}

.social {
  width: 25%;
}

.social ul {
  /* display: flex; */
  list-style: none;
}

.social ul li {
  margin-right: 10px;
}

.social ul li img {
  width: 32px;
}
.quienesl {
  padding: 20px;
  float: left;
  width:40%;
  text-align: justify;
}
.quienesr {
  padding: 20px;
  float: right;
  width: 40%;
  text-align: center;
}
.quienesr img {
  width: 50vh;
}
.ppal {
  display: flex;
}
.contacto {
  padding: 20px;
  display: flex;
}
form {
  margin: 0 auto;
  width: 40%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 60%;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 7em;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: .5em;
}
.iframe {
  padding: 20px;
}

@media only screen and (max-width: 1400px) {
.quienesr {
  padding: 20px;
  width: 50%;
  float: left;
  text-align: center;
}
.quienesl {
  padding: 20px;
  width:100%;
  text-align: justify;
  
}
.ppal {
  display: block;
}
}

@media only screen and (max-width: 770px) {
  .menu nav ul {
    display: block;
}
.quienesr {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.quienesl {
  padding: 20px;
  width:100%;
  text-align: justify;
}
.ppal {
  display: block;
}
}
